body {
    background-color: #5e3f18
}

img {
    height: 100%;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 426px;
    position:relative;
}

.screen {
    position: absolute;
    width: 240px;
    height: 427px;
    background-color:rgba(26, 27, 30, 0.5);
    top: 109px;
    left: 94px;
    border: 2px solid black;
    border-radius: 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.homebutton {
    display: block;
    position: absolute;
    width: 33px;
    height: 33px;
    background-color:#fbfbfb;
    top: 549px;
    left: 198px;
    border: 2px solid #928c57;
    border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;
    color: #fbfbfb;
    text-align: center;
}

.clock {
    position: absolute;
    width: 144px;
    height: 66px;
    top: 47px;
    left: 52px;
}

.slider {
    position: absolute;
    width: 118px;
    height: 28px;
    top: 366px;
    left: 58px;
}

.border {
    position: absolute;
    width: 266px;
    height: 547px;
    background-color:rgba(255, 255, 255, 0);
    top: 48px;
    left: 82px;
    border: 2px solid #bbba9f;
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
}

.speaker {
    position: absolute;
    width: 35px;
    height: 2px;
    top: 79px;
    left: 198px;
    background-color: black;
    border: 1px solid #a2a38e5f;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.camera {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 77px;
    left: 176px;
    background-color: black;
    border: 1px solid #a2a38e5f;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.side {
    position: absolute;
    width: 2px;
    background-color: #bbba9f;
    border: 1px solid red;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}